.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__brand{
  color: black;
  padding-top: 50px;
  padding-bottom: 10px;
}
.login__brand > span {
  color: #f56f2e;
}
.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background: #f56f2e;;
  border: none ;
  font-weight: 600;
  color: white;
  border-radius: 999px;
  cursor: pointer;
  
}

.login__registerButton {
  border-radius: 999px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  
}
